{
  "singleQuote": true,
  "printWidth": 100,
  "tabWidth": 2,
  "bracketSpacing": true,
  "singleAttributePerLine": true,
  "semi": true,
  "objectWrap": "collapse",
  "plugins": ["prettier-plugin-tailwindcss"]
}
